main > div { 
    color:red;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
main > div.container-fluid {
    padding: 10px;
    background-color:#ffffff;
    justify-content: center;
  bottom: 60px;
}

body{
    position: relative;
    
}

h6{
  font-size: 12px;
}

.panel-default{
  border-bottom: 1px solid #333;
}

h5{
  font-size: 13px;
  color: #333;
  text-align: end;

}

.title{
  font-size: 18px;

}

.desc {
  font-size: 13px;
  color: #333;
}

main >div.row{
  justify-content: center;
}

.btn-primary,
.btn-primary:hover,
.btn-prymary:focus{
  color:#fff;
  background: #ff0000;
  border: .05rem solid transparent;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background: #333;
  border: .05rem solid transparent;
}

.btn-primary,
.btn-secondary{
  width: 100%;
}
